.about {
  position: relative;
}

.about-container {
  row-gap: 3.5rem;
}

.about-container .section-title {
  margin-bottom: 1rem;
}

.about-data {
  text-align: center;
}

.about-description {
  margin-bottom: 2rem;
}

.about-img {
  width: 300px;
  justify-self: center;
}

.about .shape-small {
  top: 2rem;
  right: -3rem;
}

.about .shape-big {
  bottom: 0;
  left: -8rem;
}
